snippet desc
	describe('${1:description}', function() {
		${2:body}
	});
snippet it
	it('${1:description}', function() {
		${2:body}
	});
snippet func
	function ${1:functionName}(${2:arguments}) {
		${3:body}
	}
snippet debug
	debugger; //jshint ignore:line
snippet log
	console.log(${1:content}); //jshint ignore:line
